.popular {
}

.popular__title {
  @include title-section();
}

.article__title-link {
  text-decoration: none;
  color: inherit;
}

.popular__tabs {
}

.popular__inner {
  display: none;

  &.active {
    display: block;
  }
}

.popular__btn {
  font-size: 12px;
  line-height: 1.34;
  color: $col;
  margin-right: 20px;
  text-decoration: none;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  outline: none;

  &.active {
    text-decoration: underline;
  }

  &:last-child {
    margin-right: 0;
  }
}

.popular__link {
  text-decoration: none;
  color: inherit;
}

.popular__img-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.popular__item {
  padding: 20px 0 8px;
  border-bottom: 1px solid #cccccc;

  &:last-child {
     border-bottom: none;
  }
}
