.best {
  margin: 0 0 40px;
  position: relative;
}

.best__title {
  @include title-section();
}

.best__control {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  right: 0;
}


.best__buttons {
}

.best__btn {
  font-size: 0;
  background-color: transparent;
  border: 0;
  height: 20px;
  padding: 4px 5px;
  outline: 0;

  svg {
    fill: $col;
    height: 100%;
    width: auto;
  }

  &:active {
    svg {
      fill: $gold;
    }
  }

  &--next {
    // right: 15.45vw;;
  }

  &--prev {
    // left: 15.45vw;
    transform: rotate(180deg);
  }
}

.best__slides {
  font-size: 12px;
  line-height: 1.34;
  margin: 0 15px 0 0;
}


