.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0;
}

.map-container {
  height: 400px;
  position: relative;
}

@media #{$t} {
  .map-container {
    height: 300px;
  }
}

@media #{$s} {
  .map-container {
    height: 240px;
  }
}
