.comment__author {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.comment__children {
  margin: 0 0 0 -15px;
}

.comment__author-avatar {
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 35px 0 0;
  flex-shrink: 0;

  img {
    width: 100%;
    display: block;
  }
}

.comment__author-name {
  // font-size: 14px;
  // line-height: 1.43;
  margin: 0 0 10px;
}

.comment__author-date {
  font-size: 12px;
  line-height: 1.34;
  color: $col-light-grey;
  margin: 0 0 20px;
}

.comment__body {
  padding: 0 0 0 85px;
}

.comment__text {
  margin-bottom: 20px;
  p {
    margin: 0;
  }
}

.comment__add {
  margin-bottom: 25px;
  border: none;
  font-size: 14px;
  line-height: 1.43;
  outline: none;
  text-decoration: underline;
  background-color: transparent;
  border-radius: 0;
  padding: 0;

  &:hover {
    color: $gold;
  }
}

