$col: #333;
$col-title: #330000;
$col-light: #666;
$col-light-grey: #999;
$bg: #fff;
$bg-brown: #330000;
$red: #da1711;
$red-hover: #af0007;
$red-active: #b7191f;
$gold: #bd9128;
$gold-hover: #c39c3d;
$white: #fff;


$font-main: "Lato", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
$font-second: "PlayfairDisplay", "Times New Roman", Times, serif;
